<!DOCTYPE html>
<html>
<head>
  <title>DevSkrinrCom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
              <li class="active"><a href="./">Hi, <%= current_user.email %></a></li>
              <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
              <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <% if notice %>
      <div class="alert alert-info" role="alert"><%= notice %></div>        
      <% end %>
      <% if alert %>
      <div class="alert alert-warning" role="alert"><%= alert %></div>
      <% end %>

      <div class="">
        <%= yield %>
      </div>

    </div>


</body>
</html>
